{% extends 'base.html' %}

{% load static %}

{% block title %}{{page_title}}{% endblock title %}

{% block css %}
{% endblock css %}

{% block content %}
<div class="container">
    <h1 class="mb-4">{{page_title}}</h1>
    <a href="{% url 'create-pengeluaran-header' %}" class="btn btn-primary">Buat Pengeluaran</a>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">No Transaksi</th>
            <th scope="col">Gudang</th>
            <th scope="col">Customer</th>
            <th scope="col">Tanggal</th>
            <th scope="col">Notes</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
        {% for record in data %}
          <tr>
            <th scope="row">{{record.TrxOutNo}}</th>
            <td>{{record.WhsIdf}}</td>
            <td>{{record.TrxOutSuppIdf}}</td>
            <td>{{record.TrxOutDate}}</td>
            <td>{{record.TrxOutNotes}}</td>
            <td>
                <a href="{% url 'edit-pengeluaran-header' pk=record.TrxOutPk %}" class="btn btn-sm btn-warning me-1">Edit</a>
                <a href="{% url 'delete-pengeluaran-header' pk=record.TrxOutPk %}" class="btn btn-sm btn-danger">Delete</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}